/* Fill in all the CSS rules. All the selectors you need are listed */

/* CSS reset */

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  border-radius: 20px 20px 20px 20px;
}

/* Body  */

body {
  color: rgb(63, 63, 63);
}

.card {
  background-color: white(8, 138, 84);
  width: 350px;
  height: 504px;

  box-shadow: 0 0 5px black;
}

img {
  width: 350px;
  height: 264px;
  border-radius: 20px 20px 0 0;
}

.card-text {
}

.category {
  font-size: 12px;
  color: blue;
  margin-bottom: 7px;
  margin-left: 15px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 10px;
}

p {
  margin-right: 15px;
  margin-left: 15px;

  color: rgb(63, 63, 63);
}
